<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/share.css" />
        <title><%= type %></title>
    <%if(type==="category"){%>
            <link rel="stylesheet" type="text/css" href="css/category.css" />
    <%}else if(type==="login"){%>
            <link rel="stylesheet" type="text/css" href="css/login.css" />
    <%}else if(type==="writeCase"){%>
            <link rel="stylesheet" type="text/css" href="css/tree.css" />
            <link rel="stylesheet" type="text/css" href="css/writeCase.css" />
    <%}else if(type==="writeCategory"){%>
        <link rel="stylesheet" type="text/css" href="css/writeCategory.css" />
    <%}%>
    </head>
    <body>
        <header>
            <a href="/">
            <div class="headerWrapper">
                    <div id="indexText">WSDS</div>
                </div>
            </a>
        </header>
        
    <%if(admin && type !== "writeCategory" && type!== "writeCase"){%>
        <div class="navBar">
            <div class="navWrapper">
                <ul>
                    <li>
                        <a class="navText" href="/login">로그인</a>
                    </li>
                <%if(type==="category"){%>
                    <li>
                        <a class="navText" href="/write/case">예제 추가</a>
                    </li>
                <%}%>
                <%if(type !=="category"){%>
                    <li>
                        <a class="navText" href="/write/category">카테고리 추가</a>
                    </li>
                    <%}%>
                    <li>
                        <a class="navText" href="/admin">관리자 페이지</a>
                    </li>
                </ul>
            </div>
        </div>
    <%}%>

    
    <%if(type==="category"){%>
        <%- include category.ejs %>
    <%}else if(type==="login"){%>
        <%- include login.ejs %>
    <%}else if(type==="writeCase"){%>
        <%- include writeCase.ejs %>
    <%}else if(type==="writeCategory"){%>
        <%- include writeCategory.ejs %>
    <%}%>

        <footer>푸터</footer>

        <% if(type==="category"){ %>

        <% }else if(type==="login"){ %>
            <script type="text/javascript" src="js/login.js"></script>
        <% }else if(type==="writeCase"){ %>
            <script type="module" src="js/uploadFile.js"></script>
        <% }else if(type==="writeCategory"){ %>
            <script type="text/javascript" src="js/addCategory.js"></script>
        <%}%>

    </body>
</html>